$color-header-background:#2D303A;
$color-home-background:#F06C64;
$color-services-background:#F2F2F2;
$color-light: #FFFFFF;
$color-title:#666D89;
$color-text:#767E9E;
$color-active: red;
$color-bordered: #323746;
$color-link: #E94348;
$color-batton-link:#BBBBBB;
$color-hamburger:#173A56;


$content-width: 1019px;
$tablet-width: 767px;
$mobile-width: 374px;